.container {
    display: flex;
    overflow-x: auto;
     }
  
  .container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  

  .container2 {
   
   
    overflow-y: auto;
    
     }
  
  .container2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  